


@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;600;700;800&family=Rubik+Beastly&display=swap');

*
{
    margin-left: 12px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Berkshire Swash', sans-serif;
}

body
{
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #252839;
}

h2
{
    position: relative;
    font-size: 5em;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
}

h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
 0%,10%,100%
 {
     width: 0;
 }
 70%,90%
 {
     width: 100%;
 }
 
}

h3{
    color: #01fe87;
    font-size: 25px;
}
